<section class="login-container">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
		<h2 class="login-title">Login</h2>
		<span class="login-subtitle">Sign in and start shopping</span>
		<input
			type="text"
			name="username"
			placeholder="nombre de usuario"
			formControlName="username"
			class="login-input"
			required
		/>
		<input
			type="password"
			name="password"
			placeholder="contraseña"
			autocomplete="off"
			formControlName="password"
			class="login-input"
			required
		/>
		<div class="login-button">
			<app-back-button></app-back-button>
		</div>

		<button
			type="submit"
			[disabled]="loginForm.invalid"
			class="login-button"
		>
			Login
		</button>
	</form>
</section>
