.show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--color-auxiliary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-primary);
}

.image {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stock {
    font-size: 16px;
}

.quantity {
    text-align: end;
    filter: saturate(500%);
}

.price,
.stock,
.description,
.quantity {
    mix-blend-mode: difference;
    opacity: 0.7;
}

.inline {
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0 5px;
}

.flex-space {
    margin: 5px 0;
    padding: 5px 5%;
}

.full-width {
    width: 100% !important;
}

.flex {
    display: flex;
}

.icons {
    color: var(--color-primary);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 10px;
    right: 5px;
}
