*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/*fixing the color-scheme property functionality*/
:root {
    --base: #cfcfcf;
    --text: #212121;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base: #212121;
        --text: #cfcfcf;
    }
}

html {
    color-scheme: dark light;
}

body {
    color: var(--text);
    background-color: var(--base);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
