/* contacto.css */
.page.contact-page {
    display: grid;
    place-content: center;
    padding: 20px;
}

.title.align-center {
    margin-bottom: 75px;
}

.contact-form {
    min-width: 600px;
    display: flex;
    flex-direction: column;
}

@media (width<600px) {
    .contact-form {
        min-width: 100%;
    }
}

.contact-form .form-group {
    display: block;
    margin-bottom: 15px;
}

.contact-form .form-group:last-of-type {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input {
    width: 100%;
    padding: 8px;
}

input {
    border-color: var(--color-auxiliary);
    padding: 15px 10px !important;
}

label {
    transition-property: translate, color;
    transition: 0.3s ease;
}

.form-group:has(input:focus-within) > label {
    color: var(--color-primary);
    translate: 2ch 80%;
}

.form-group:has(input:focus-within) > label.file-input-label {
    translate: 0 0;
    color: var(--color-auxiliary);
}

input:focus-within {
    outline: 1px solid var(--color-primary);
}

.form-group:last-of-type {
    margin-top: 2.5rem;
}

.file-input-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    overflow: clip;
}

.file-input {
    position: absolute;
    font-size: 100px;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-input-label:hover {
    background-color: var(--color-secondary);
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    height: fit-content;
    width: 180px;

    &:hover {
        background-color: var(--color-secondary);
    }
}

.rounded {
    border-radius: 1rem;
}
