span {
    margin-bottom: 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
