@import "../admin-dashboard/admin-dashboard.component.scss";

.search-container {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.search-container .search {
	width: 20%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Estilos generales para listas y elementos */
.list {
	margin: 20px;
}

.subtitle {
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 10px;
}

/* Estilos para la lista de órdenes */
.orders-list {
	margin-left: 20px;
	margin-bottom: 20px;

	h4 {
		text-align: left;
		margin-bottom: 10px;
		font-size: 1.2em;
	}
}

/* Estilos para los elementos de la lista de órdenes */
.order-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.item-name {
	font-weight: bold;
	margin-right: 20px;
}

.action-buttons {
	display: flex;
	gap: 10px;
}

/* Estilos para botones */
button {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&.edit-item {
		background-color: #4caf50;
		color: white;

		&:hover {
			background-color: #45a049;
		}
	}

	&.delete-item {
		background-color: #f44336;
		color: white;

		&:hover {
			background-color: #d32f2f;
		}
	}

	&.cancel {
		background-color: #f44336;
		color: white;

		&:hover {
			background-color: #d32f2f;
		}
	}

	&.mb-05 {
		margin-bottom: 5px;
	}
}

/* Estilos para el formulario de edición de órdenes */
.edit-order-form {
	margin: 20px 0;

	input[type="text"],
	input[type="number"] {
		margin: 10px 0;
		padding: 10px;
		width: calc(100% - 22px);
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.actions-confirm {
		display: flex;
		gap: 10px;
		margin-top: 10px;
	}
}

.center {
	text-align: center;
}
